# --- Don't need to touch anything below here (but you can if you want) --- #

# Output options (more information on Jekyll's site)
timezone: "America/Vancouver"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true

# Setup
title:            "Gonzalo Velarde"
tagline:          'Just for fun'
description:      '***'
url:              https://gonzalovelarde.github.io
baseurl:          /

author:
  name:           'Mark Otto'
  url:            https://twitter.com/mdo

# List of links in the navigation bar
navbar-links:
  World: "world"
  Maths: "maths"
  Cataract surgery: "cataract surgery"
  Publications: "publications"
  CV: "cv"

plugins:
- jekyll-paginate
- jekyll-sitemap

paginate:         5

# Custom vars
version:          2.1.0

github:
  repo:           https://github.com/gonzalovelarde/gonzalovelarde.github.io
